


body {
    background-color:#EC2049;

    background: linear-gradient(to bottom right, #EC2049,#F26B38); 
    
    color:#EC2049;
    padding: 50px;
    font-family:courier;
    
    }

#main{      width:60%; 
 			margin:auto;  
            border-radius: 10px;
    		background:#131b24; 
			padding: 15px; 
            background-clip:padding-box;
            box-shadow: 6px 9px 30px 0px rgba(23,30,34,0.7);
            text-align: center;

    }

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #EC2049, #F26B38);
}

h1{
color:#F26B38   ;
font-family:Arial, Helvetica, sans-serif
}

#carList{
    column-count: 2;
}

#carListRight{
    text-align: left;
}

#carListLeft{
    text-align: right;
}


